@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;

}


.horizontal {
    position: fixed;
    width: 50px;
    left: 0;
    top: 50px;
}

.circle {
    margin-left: 25%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: linear-gradient(120deg, #d53369 0%, #daae51 200%);
}

.heading {
    text-align: center;
    margin-top: 50vh;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}







.component {
    display: flex;
    justify-content: center;
    margin-top: 500px;
}

.left {
    width: 500px;
}

.right {
    width: 500px;
    margin-left: 50px;
}

.right img, .left img {
    width: 100%;
}
.component.move-left .title {
    position: relative;
    left: -350px;
}
.component.move-left .description {
    position: relative;
    left: -350px;
}
.component.move-right .title {
    position: relative;
    right: -350px;
}
.component.move-right .description {
    position: relative;
    right: -350px;
}

.component.move-right .title {
    position: relative;
    right: -350px;
}
.component.move-through .description {
    position: relative;
    right: -350px;
}




